#personal-info-change{
    background-color: $backgroundGrey;
    padding-bottom: 20vw;

    .profile-container{
        padding-top: 10vw;

        .title-button{
            display: grid;
            grid-template-columns: 1fr 0.5fr;
            grid-template-rows: 1fr;
            gap: 0px 0px;
            grid-template-areas:
              "h1 btn";
            margin-left: 4vw;
            #p-info{
                grid-area: h1;
                
            }
            #p-info-save{
                grid-area: btn;
                margin-top: 5vw;
            }
            
        }
    }        p {
        line-height: 0.6; 
     }
     .gen-info{
         margin-left: 8vw;
         padding-top: 2vw;
         padding-bottom: 3vw;
     }
     .contact-info{
         margin-left: 8vw;
         padding-bottom: 3vw;
     }
     .location-info{
         margin-left: 8vw;
         padding-bottom: 3vw;
     }
}