.dashboard-body{
     overflow: hidden;
     p{
          font-size: 1.2vw;
     }
     a{
          font-size: 1.2vw;
          text-decoration: none;
          display: block;
     }
     .map{
          width: 100vw;
          height: 100vh;
          z-index: 0;
     }
     .user-info{
          position: absolute;
          top: 0;
          left: 0;
          z-index: 3;
          background-color: $white;
          border-bottom-right-radius: 20px;
          padding-right: 1vw;
          padding-bottom: 0.6vw;
          border-right: 4px solid rgba($color: #000000, $alpha: 0.2);
          border-bottom: 4px solid rgba($color: #000000, $alpha: 0.2);
          .user-header{
               padding-right: 5vw;
               .gender-icon{
                    width: 1.2vw;
                    padding-left: 0.5vw;
               }
          }
          a{
               color: $white;
               background-color: $red;
               padding-left: 1vw;
               padding-top: 0.2vw;
               padding-bottom: 0.2vw;
               margin-bottom: 0.5vw;
               background-image: url("../../media/img/arrow-down-icon.svg");
               background-repeat: no-repeat;
               background-size: 6%;
               background-position: 90% 55%;
               border-bottom-right-radius: 7px;
               border-top-right-radius: 7px;
          }
          p{
               padding-left: 1vw;
          }
          .ice-contact{
               border-bottom: 4px solid $grey;
          }
          .ice-contact:last-child{
               border-bottom: none;
          }
     }
     .animation-container{
          position: absolute;
          top: 0;
          right: 0;
          z-index: 4;
          background-color: $white;
          padding-left: 1vw;
          padding-top: 1vw;
          padding-right: 1vw;
          padding-bottom: 1vw;
          border-bottom-left-radius: 20px;
          border-left: 4px solid rgba($color: #000000, $alpha: 0.2);
          border-bottom: 4px solid rgba($color: #000000, $alpha: 0.2);
          .animation-search{
               font-size: 1.2vw;
               padding-left: 0.5vw;
               padding-top: 0.5vw;
               padding-bottom: 0.5vw;
               border: 2px solid $grey;
               border-radius: 18px;
               background-image: url("../../media/img/search-icon.svg");
               background-repeat: no-repeat;
               background-size: 10%;
               background-position: 95% 50%;
          }
          .animations{
               padding-left: 3vw;
          }
          .animation{
               color: #000000;
               border: 2px solid $grey;
               border-radius: 7px;
               margin-top: 0.5vw;
               background-image: url("../../media/img/play-icon.svg");
               background-repeat: no-repeat;
               background-size: 10%;
               background-position: 95% 50%;
               padding-left: 0.5vw;
          }
     }
     .animation-notification{
          position: absolute;
          top: 0.5vw;
          left: 0; 
          right: 0; 
          width: 35.5vw;
          margin-left: auto; 
          margin-right: auto;
          padding-left: 1vw;
          padding-right: 1vw;
          z-index: 5;
          background-color: $white;
          border: 4px solid rgba($color: #000000, $alpha: 0.2);
          border-radius: 50px;
          p{
               display: inline-block;
               margin-right: 1vw;
          }
          .stop-btn{
               display: inline-block;
               color: $white;
               background-color: $red;
               padding-top: 0.5vw;
               padding-bottom: 0.5vw;
               padding-left: 1vw;
               padding-right: 1vw;
               font-weight: bold;
               border-radius: 50px;
          }
     }
     .animation-stopped{
          position: absolute;
          top: 0.5vw;
          left: 0; 
          right: 0; 
          width: 21vw;
          margin-left: auto; 
          margin-right: auto;
          padding-left: 1.8vw;
          padding-right: 1vw;
          z-index: 5;
          background-color: $green;
          border-radius: 50px;
          p{
               color: $white;
          }
     }
     .animation-ended{
          position: absolute;
          top: 0.5vw;
          left: 0; 
          right: 0; 
          width: 12vw;
          margin-left: auto; 
          margin-right: auto;
          padding-left: 1.2vw;
          padding-right: 1vw;
          z-index: 5;
          background-color: $green;
          border-radius: 50px;
          p{
               color: $white;
          }
     }
     .dashboard-footer{
          position: absolute;
          bottom: 0;
          left: 0; 
          right: 0; 
          margin-left: auto; 
          margin-right: auto; 
          width: 4vw;
          padding-top: 1.5vw;
          padding-bottom: 1vw;
          padding-left: 1vw;
          padding-right: 1vw;
          z-index: 6;
          background-color: $white;
          border-top-left-radius: 50px;
          border-top-right-radius: 50px;
          border-right: 4px solid rgba($color: #000000, $alpha: 0.2);
          border-left: 4px solid rgba($color: #000000, $alpha: 0.2);
          border-top: 4px solid rgba($color: #000000, $alpha: 0.2);
          img{
               width: 4vw;
          }
     }
     .version{
          position: absolute;
          bottom: 0; 
          right: 0; 
          z-index: 7;
          background-color: $white;
          padding-left: 1vw;
          padding-right: 1vw;
          border-top-left-radius: 15px;
          border-left: 4px solid rgba($color: #000000, $alpha: 0.2);
          border-top: 4px solid rgba($color: #000000, $alpha: 0.2);
          p{
               font-size: 0.8vw;
               color: $red;
          }
     }
     .toggle-video{
          position: absolute;
          top: 0;
          right: 20%; 
          z-index: 8;
          background-color: $white;
          padding-top: 1vw;
          padding-bottom: 1vw;
          padding-left: 1vw;
          padding-right: 1vw;
          border-bottom-left-radius: 50px;
          border-bottom-right-radius: 50px;
          border-right: 4px solid rgba($color: #000000, $alpha: 0.2);
          border-left: 4px solid rgba($color: #000000, $alpha: 0.2);
          border-bottom: 4px solid rgba($color: #000000, $alpha: 0.2);
     }
     .toggle-video:hover{
          cursor: pointer;
     }
     .video-container{
          position: absolute;
          top: 0;
          z-index: 1;
          background-color: rgba($color: #000000, $alpha: 0.7);
          #remoteVideo{
               position: absolute;
               z-index: 2;
               top: 0;
               left: 0; 
               right: 0; 
               margin-left: auto; 
               margin-right: auto; 
               width: 38vw;
          }
     }
}
