#privacy-policy-body{
    background-color: $backgroundGrey;

    p{
        padding-left: 5vw;
        padding-right: 5vw;
        font-size: 20px;
    }

    #part-1{
        padding-top: 10vw;
    }
}