.topnav-info{
    background-color: $topnavRed;
    
}
.backarrow{
   margin-top: 5vw;
   margin-left: 4vw;
}
.textbox-info{
    color: $white;
    margin-left: 25vw;
    margin-top: 5vw;

}
.textbox-info h2{
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius: 10px;
    background-color: $topnavRed;
}
.logo-favicon-topnav{
    text-align: right;
    margin-left: 20vw;
    margin-top: 8vw;
}