@import "./imports/colours";
@import "./imports/home";
@import "./imports/nav";
@import "./imports/topnav-info";
@import "./imports/profile";
@import "./imports/call";
@import "./imports/register";
@import "./imports/dispatcher-index";
@import "./imports/dashboard";
@import "./imports/medical-info";
@import "./imports/ice-contacts";
@import "./imports/change-personal-info";
@import "./imports/change-med-info";
@import "./imports/change-ice-contacts";
@import "./imports/add-ice-contacts";
@import "./imports/settings";
@import "./imports/accesability";
@import "./imports/camera";
@import "./imports/contact-us";
@import "./imports/settings-help";
@import "./imports/privacy-policy";
@import "./imports/courses-general";
@import "./imports/chat";
@import "./imports/chat-dashboard";
@import "./imports/course";

@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

body{
     font-family: 'Nunito', sans-serif;
     margin: 0;
}

.hidden{
     display: none;
}