<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Alertify | Dashboard</title>
     <link rel="stylesheet" href="/css/style.css">
</head>
<body>
     <div class="map" id="map"></div>

     <div class="user-info">
          <p><span class="name"></span> <span class="gender-icon"></span></p>
          <p><span class="birth-date"></span></p>

          <a href="#" class="btn medical-btn">Medical information</a>
          <div class="medical-information">
               <p>Blood type: <span class="blood-type"></span></p>
               <p>Allergies: <span class="allergies"></span></p>
               <p>Medical conditions: <span class="medical-conditions"></span></p>
               <p>Medication: <span class="medication"></span></p>
          </div>

          <a href="#" class="btn ice-btn">ICE contacts</a>
          <div class="ice-contacts">

          </div>

          <a href="#" class="btn contact-btn">Contact information</a>
          <div class="contact-information">
               <p>Residence: <span class="residence"></span></p>
          </div>
     </div>

     <div class="video-container">
          <!-- For playing local video -->
          <video id="localVideo" class="hidden" autoplay muted playsinline></video>

          <video id="remoteVideo" class="" autoplay playsinline></video>
     </div>

     <div class="footer">
          <a class="end-call" href="/dispatcher/index.html">
               <img src="../media/img/end_call_icon.svg" alt="end call icon">
          </a>
     </div>

     <!-- Import SocketIO for signalling -->
     <script src="../socket.io/socket.io.js"></script>
     <!-- Import WebRTC adapter for compatibility with all the browsers  -->
     <script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
     <!-- Import TURN config -->
     <script src="../js\config.js"></script>
     <!-- Import script containing WebRTC related functions -->
     <script src="../js/ol.js"></script>
     <script src="/primus/primus.js"></script>
     <script src="../js\main.js"></script>
     <script src="../js/dashboard.js"></script>
     
</body>
</html>