.container{
     z-index: 0;
     background-color: $darkRed;
     height: 100vh;
     display: grid;
     grid-template-columns: 1fr;
     grid-template-rows: 1fr 1fr 2fr 1fr 1fr;
     .item-1{
          color: $white;
          font-size: 12vw;
          text-align: center;
          font-weight: 100;
          grid-column: 1;
          grid-row: 1;
          margin-bottom: 0;
     }
     .item-2{
          height: 60vw;
          width: 60vw; 
          grid-column: 1;
          grid-row: 3;
          margin: auto;
          img{
               width: 60vw; 
          }
     }
     .item-3{
          color: $white;
          font-size: 6vw;
          text-align: center;
          font-weight: 100;
          grid-column: 1;
          grid-row: 4;
          padding-left: 20%;
          padding-right: 20%;
     }
     .item-4{
          grid-column: 1;
          grid-row: 5;
          align-self: end;
     }
}

.confirmation{
     z-index: 1;
     position: absolute;
     left: 0;
     top: 0;
     height: 100%;
     width: 100%;
     background-color: rgba(0, 0, 0, 0.5);
     .pop-up{
          height: 85vw;
          width: 60vw;
          margin: auto;
          margin-top: 25%;
          padding-top: 10%;
          padding-left: 10%;
          padding-right: 10%;
          border-radius: 20px;
          background-color: $white;
          .message, span{
               font-size: 6vw;
               font-weight: 100;
          }
          .message{
               margin: 0;
               margin-bottom: 15%;
          }
          .no{
               background-color: $red;
               padding-left: 14%;
               padding-right: 14%;
               margin-right: 8%;
          }
          .yes{
               background-color: $green;
               padding-left: 13%;
               padding-right: 13%;
               margin-left: 8%;
          }
          span{
               color: $white;
               padding-top: 2%;
               padding-bottom: 2%;
               border-radius: 10px;
          }
     }
}

