nav{
     background-color: $white;
     height: 18vw;
     display: grid;
     grid-template-columns: 1fr 1fr 1fr 1fr;
     grid-template-rows: 1fr;
     .home-link{
          grid-column: 1;
          grid-row: 1;
     }
     .profile-link{
          grid-column: 2;
          grid-row: 1;
     }
     .course-link{
          grid-column: 3;
          grid-row: 1;
     }
     .settings-link{
          grid-column: 4;
          grid-row: 1;
     }
     .nav-link{
          display: grid;
          img{
               align-self: center;
               justify-self: center;
          }
     }
}

.active-link{
     border-top: 5px solid $red;
}